body {
	background-image: url(https://cutewallpaper.org/21/chillstep-backgrounds/I-Was-Listening-To-A-Chill-Step-Mix-That-Has-The-Same-.jpg);
	font: 14px "Century Gothic", Futura, sans-serif;
	margin: 20px;
  }
  
  ol, ul {
	padding-left: 30px;
  }
  
  .board-row:after {
	clear: both;
	content: "";
	display: table;
  }
  
  .status {
	margin-bottom: 10px;
  }
  
  .square {
	background: rgb(255, 255, 255);
	border: 1px solid #999;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 34px;
  }
  
  .square:focus {
	outline: none;
  }
  
  .kbd-navigation .square:focus {
	background: #ddd;
  }
  
  .game {
	display: flex;
		/* justify-content: center; */
		align-items: center;
	flex-direction: row;
  }
  
  .game-info {
	position: relative;
	left: -250px;
	top: 175px;
  }
div.card {
	border-width: .5mm;
	border-style: dashed;
	border-radius: 25px;
  background: #4576fc;
  padding: 20px;
  width: 200px;
  height: 200px;
align-self: auto;
}

div.new_player_form{
	position: relative;
	
}

input.submit{
	background-color: #4576fc;
  font-size: 16px;
  color: white;
}

.results{
	position: absolute;
	left: 425px;
	top: 150px;
}


.whole-board{
	position:absolute;
	left: 250px;
	top: 200px;
}

.user_div{
	position: absolute;
	left: 500px;
	top: 50px;
	display: block;
	text-align: center;
}

.new_player_form{
	position: relative;
	left: 50px;
	top: 60px;
}