body {
	font: 14px "Century Gothic", Futura, sans-serif;
	margin: 20px;
  }
  
  ol, ul {
	padding-left: 30px;
  }
  
  .board-row:after {
	clear: both;
	content: "";
	display: table;
  }
  
  .status {
	margin-bottom: 10px;
  }
  
  .square {
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 34px;
  }
  
  .square:focus {
	outline: none;
  }
  
  .kbd-navigation .square:focus {
	background: #ddd;
  }
  
  .game {
	display: flex;
	flex-direction: row;
  }
  
  .game-info {
	margin-left: 20px;
  }
div.card {
	border-width: .5mm;
	border-style: dashed;
	border-radius: 25px;
  background: #ffffff;
  padding: 20px;
  width: 200px;
  height: 200px;
align-self: auto;
}

div.new_player_form{
	position: relative;
	
}
/* input.submit{
	background-color: rgb(25, 0, 255);
  font-size: 16px;
  color: white;
} */

